@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
.button-primary-inverted {
  border-radius: 30px;
  border-style: solid;
  color: #F2F2F2;
  border-color: #F2F2F2;
  background-color: #1663C7;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.button-secondary {
  border-radius: 30px;
  border-style: none;
  color: #F2F2F2;
  border-color: #F2F2F2;
  background-color: #FF6307;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

nav {
  position: fixed;
  width: 100vw;
  background-color: #1663C7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  height: 50px;
  z-index: 998;
}

nav li {
  list-style: none;
}

.nav-items {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  height: 100%;
}
.nav-items #hamb-cross {
  height: 35%;
  justify-content: right;
  align-items: center;
  padding-right: 30px;
  padding-top: 30px;
}

.nav-item {
  display: flex;
  align-items: center;
  color: #F2F2F2;
  height: 100%;
  padding: 0px 10px 0px 10px;
}

.nav-item:hover {
  background-color: #F2F2F2;
}
.nav-item:hover a {
  color: #1663C7;
}

.nav-item:active {
  background-color: #F2F2F2;
}

a:link {
  text-decoration: none;
  color: #F2F2F2;
}

a:visited {
  text-decoration: none;
  color: #F2F2F2;
}

a:hover {
  color: #1663C7;
}

a:active {
  background-color: #F2F2F2;
  color: #1663C7;
}

#title {
  color: #F2F2F2;
  text-align: center;
}

#logo {
  margin: 0px 0px 0px 10px;
  min-width: 50px;
}

#login-btn {
  margin: 0px 10px 0px 0px;
}

.mobilebar {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  right: 0;
  top: 0;
  height: 100svh;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.48);
}
.mobilebar a {
  font-size: 2rem;
  color: #14498e;
}
.mobilebar .nav-item {
  width: 100%;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100svh;
  height: fit-content;
  padding: 30px;
}

.hero {
  background: rgba(22, 99, 199, 0.25);
  color: #3C4046;
  position: relative;
  padding: 0;
}
.hero h1 {
  color: #1663C7;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 400px;
  margin-top: 40px;
  gap: 20px;
  padding: 30px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  z-index: 0;
  border: 1px solid rgba(255, 255, 255, 0.48);
}

#easy-accent {
  font-size: 3rem;
  font-family: "Caveat", cursive;
  letter-spacing: 4px;
  color: #3C4046;
  margin: 0 -0.1em;
  padding: 0.005em 0.2em;
  border-radius: 0.8em 0.3em;
  background: transparent;
  background-image: linear-gradient(to right, rgba(255, 225, 0, 0.1), rgba(255, 225, 0, 0.7) 4%, rgba(255, 225, 0, 0.3));
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

#myVideo {
  position: absolute;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.features {
  background-color: #F2F2F2;
}
.features h2 {
  color: #FF6307;
  padding-top: 40px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 100px;
  column-gap: 20px;
}

.features-tile {
  display: flex;
  flex-direction: column;
  min-width: 35%;
  flex: 1;
  gap: 25px;
}

.features-tile:hover h3,
.features-tile:hover i {
  color: #1663C7;
  transform: scale(1.03);
}

.pricing {
  background: linear-gradient(180deg, #1663C7 100%, #14498e 50%);
  background-color: #1663C7;
}
.pricing h2 {
  color: #F2F2F2;
  padding-top: 40px;
}

.pricing-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
  gap: 30px;
}
.pricing-list p, .pricing-list h3 {
  text-align: center;
}

.pricing-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  width: 35%;
  max-width: 400px;
  row-gap: 10px;
  padding: 20px;
  line-height: normal;
  background-color: #F2F2F2;
  border-radius: 10px;
  -webkit-box-shadow: 24px 28px 62px -19px rgba(60, 64, 70, 0.5);
  -moz-box-shadow: 24px 28px 62px -19px rgba(60, 64, 70, 0.5);
  box-shadow: 24px 28px 62px -19px rgba(60, 64, 70, 0.5);
}
.pricing-tile h2 {
  color: #FF6307;
  text-align: center;
}
.pricing-tile ul {
  height: 80%;
}

.li-ok, .li-ko {
  list-style: none;
}

.li-ko {
  color: grey;
}

.li-ok::before {
  content: "✅";
  color: green;
  margin-right: 5px;
}

.li-ko::before {
  content: "❌";
  color: red;
  margin-right: 5px;
}

.pricing-tile:hover {
  rotate: -1deg;
  transform: scale(1.03);
  color: #F2F2F2;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.1px);
  -webkit-backdrop-filter: blur(7.1px);
  border: 1px solid rgba(255, 255, 255, 0.48);
  transition: all 0.15s ease-in-out;
}
.pricing-tile:hover .li-ko {
  color: #F2F2F2;
}
.pricing-tile:hover button {
  color: #F2F2F2;
  border-color: #F2F2F2;
  background-color: #1663C7;
}

.about {
  background-color: #F2F2F2;
  margin-bottom: -26px;
}
.about h2 {
  color: #1663C7;
  padding-top: 40px;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
}

.info-tile {
  flex: 1;
  max-width: 400px;
  gap: 15px;
}

#contact-form > * {
  margin: 5px;
  width: 100%;
}

#gMap {
  display: flex;
  flex-direction: column;
}

footer {
  height: 50px;
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  background-color: #FF6307;
  color: #F2F2F2;
  margin-top: 25px;
  margin-bottom: 0px;
}
footer h3 {
  color: #F2F2F2;
}

@media (max-width: 1100px) {
  section {
    min-height: fit-content;
    row-gap: 30px;
  }
  .hero-content {
    justify-content: space-evenly;
    min-height: 90vh;
    max-height: 100svh;
    margin-top: 55px;
    margin-bottom: 5px;
    gap: 2px;
    padding: 3px;
  }
  .hero-content h1 {
    display: none;
  }
  .features-tile {
    row-gap: 30px;
    flex-basis: 100%;
  }
  .pricing-tile {
    flex-basis: 100%;
  }
  .info-list {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: fit-content;
    gap: 10px;
    margin-bottom: 50px;
  }
  footer {
    flex-direction: column;
    gap: 2px;
    height: fit-content;
  }
}
@media (max-width: 800px) {
  .fullscreen, #login-btn {
    display: none;
  }
  #logo #title {
    justify-content: center;
  }
  #hamb {
    color: white;
    fill: white;
    display: block;
    margin-right: 10px;
  }
  #hamb svg path {
    fill: #F2F2F2;
  }
}
html,
body {
  height: 100svh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
}

#title {
  font-family: "Caveat", cursive;
  font-size: 2rem;
  letter-spacing: 3px;
  margin: 2px 5px 2px 5px;
}

h1 {
  font-size: 4rem;
  font-family: "Caveat", cursive;
  letter-spacing: 4px;
}

h2 {
  font-size: 3rem;
  font-family: "Caveat", cursive;
  letter-spacing: 4px;
}

h3 {
  font-size: 2rem;
  font-family: "Caveat", cursive;
  letter-spacing: 3px;
}

h4 {
  font-size: 0.9rem;
  font-family: "Mulish", sans-serif;
  letter-spacing: 2px;
  font-weight: 400;
}

a, button {
  font-family: "Mulish", sans-serif;
  letter-spacing: 1px;
}

p, span, li {
  font-size: 0.9rem;
  font-family: "Mulish", sans-serif;
  letter-spacing: 1px;
  line-height: 1.8;
  font-weight: 400;
}

/*# sourceMappingURL=styles.css.map */
