@use "pages/index";
@use "./variables/colors";
@use "./variables/fonts";


html,
body {
    height: 100svh;
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;
}


#title {
    font-family: fonts.$font-titles;
    font-size: fonts.$font-l;
    letter-spacing: 3px;
    margin: 2px 5px 2px 5px;
}

h1 {
    font-size: fonts.$font-xxl;
    font-family: fonts.$font-titles;
    letter-spacing: 4px;
}

h2 {
    font-size: fonts.$font-xl;
    font-family: fonts.$font-titles;
    letter-spacing: 4px;
}

h3 {
    font-size: fonts.$font-l;
    font-family: fonts.$font-titles;
    letter-spacing: 3px;
}

h4 {
    font-size: fonts.$font-s;
    font-family: fonts.$font-default;
    letter-spacing: 2px;
    font-weight: 400;
}

a, button {
    font-family: fonts.$font-default;
    letter-spacing: 1px;
}

p, span, li {
    font-size: fonts.$font-s;
    font-family: fonts.$font-default;
    letter-spacing: 1px;
    line-height: 1.8;
    font-weight: 400;
}

