
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

$font-default: "Mulish", sans-serif;
$font-titles: "Caveat", cursive;

$font-xs: 0.5em;
$font-s: 1em;
$font-m: 1.5em;
$font-l: 2em;
$font-xl: 43em;
$font-xxl: 4em;