@use "../variables/colors";
@use "../variables/fonts";
@use "../components/buttons";
@use "../utils/shortcuts";

//////////////////////////////// NAV BAR ////////////////////////////////
nav {
    position: fixed;
    width: 100vw;
    background-color: colors.$primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    height: 50px;
    z-index: 998;
}

nav li {
    list-style: none;
}

.nav-items {
    display: flex;
    flex: 1;
    justify-content: flex-end ;
    align-items: center;
    gap: 20px;
    height: 100%;
        #hamb-cross{
            height: 35%;
            justify-content: right;
            align-items: center;
            padding-right: 30px;
            padding-top: 30px;
        }
}

.nav-item {
    display: flex;
    align-items: center;
    color: colors.$neutral-light;
    height: 100%;
    padding: 0px 10px 0px 10px;
}

.nav-item:hover {
    background-color: colors.$neutral-light;
    a {
        color: colors.$primary;
    }
}

.nav-item:active {
    background-color: colors.$neutral-light;
}

a:link {
    text-decoration: none;
    color: colors.$neutral-light;
}
  
a:visited {
    text-decoration: none;
    color: colors.$neutral-light;
}
  
a:hover {
     color: colors.$primary;
 }
  
a:active {
    background-color: colors.$neutral-light;
    color: colors.$primary;
}

#title {
    color: colors.$neutral-light;
    text-align: center;
}

#logo {
    margin: 0px 0px 0px 10px;
    min-width: 50px;
}

#login-btn {
    margin: 0px 10px 0px 0px;
}

//////////////////////////////// MOBILE NAV BAR ////////////////////////////////

.mobilebar {
    
    //default
    display: none;

    // Flex
    flex-direction: column;
    position: fixed;
    z-index: 999;
    right: 0;
    top: 50px;

    // Alignment

    // Sizing
    height: 95svh; 
    width: 100%; 

    // Spacing

    // Other
    

    //glass
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    a{
        font-size: fonts.$font-l;
        color: colors.$primary-dark;
    }
    .nav-item{
        width: 100%;
        justify-content: center;
    }
}
    

//////////////////////////////// GENERAL STYLE - SECTIONS ////////////////////////////////
section {

    // Flex
    @include shortcuts.flex-column;

    // Alignment
    align-items: center;
    justify-content: space-around;

    // Sizing
    min-height: 100svh;
    height: fit-content;

    // Spacing
    padding: 30px;
}

//////////////////////////////// HERO SECTION ////////////////////////////////
.hero {
    background: rgba(colors.$primary, 0.25);
    h1 {
        color: colors.$primary
    }
    color: colors.$neutral-dark;
    position: relative;
    padding: 0;
}

.hero-content {
    // Flex
    @include shortcuts.flex-column;

    // Alignment
    align-items: center;
    text-align: center;

    // Sizing
    max-width: 400px;

    // Spacing
    margin-top: 40px;
    gap: 20px; 
    padding: 30px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    z-index: 0;
    border: 1px solid rgba(255, 255, 255, 0.48);

}

#easy-accent{
    font-size: fonts.$font-xl;
    font-family: fonts.$font-titles;
    letter-spacing: 4px;
    color: colors.$neutral-dark;
    
    //marker effect
    margin: 0 -0.1em;
    padding: 0.005em 0.2em;
    border-radius: 0.8em 0.3em;
    background: transparent;
    background-image: linear-gradient(
      to right,
      rgba(255, 225, 0, 0.1),
      rgba(255, 225, 0, 0.7) 4%,
      rgba(255, 225, 0, 0.3)
    );
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
  
}

#myVideo{
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}  

//////////////////////////////// SECTION: FEATURES ///////////////////////////////////

.features {
    background-color: colors.$neutral-light;
    h2 {
        color: colors.$secondary;
        padding-top: 40px;
    }
}

.features-list {
    // Flex
    display: flex;
    flex-wrap: wrap;

    // Alignment
    justify-content: center;

    // Sizing
    
    // Spacing
    row-gap: 100px;
    column-gap: 20px;

    // Other
    
}

.features-tile {
    // Flex
    @include shortcuts.flex-column;

    // Alignment

    // Sizing
    min-width: 35%;
    flex: 1;
    
    // Spacing
    gap: 25px;
}

.features-tile:hover h3, 
.features-tile:hover i {
    color: colors.$primary;
    transform: scale(1.03);
    }

//////////////////////////////// SECTION : PRICING ///////////////////////////////////


.pricing {
    background: linear-gradient(180deg, colors.$primary 100%, colors.$primary-dark 50%);
    background-color: colors.$primary;
    h2 {
        color: colors.$neutral-light;
        padding-top: 40px;
    }
}

.pricing-list {
    // Flex
    display: flex;
    flex-wrap: wrap;

    // Alignment
    justify-content: center;
    p, h3 {
        text-align: center;
    }

    // Sizing
    height: fit-content; 

    // Spacing
    gap: 30px;

    // Other
}

.pricing-tile {
    // Flex
    @include shortcuts.flex-column;

    // Alignment
    justify-content: space-around;

    // Sizing
    flex: 1;
    width: 35%;
    max-width: 400px;

    // Spacing
    row-gap: 10px;
    padding: 20px;
    line-height: normal;

    // Other
    background-color: colors.$neutral-light;
    border-radius: 10px;
    -webkit-box-shadow: 24px 28px 62px -19px rgba(60,64,70,0.5);
    -moz-box-shadow: 24px 28px 62px -19px rgba(60,64,70,0.5);
    box-shadow: 24px 28px 62px -19px rgba(60,64,70,0.5);

    h2 {
        color: colors.$secondary;
        text-align: center;
    }
    ul {
        height: 80%;
    }
}

.li-ok, .li-ko {
    list-style: none;
}

.li-ko{
    color: colors.$neutral-grey;
}

.li-ok::before {
    content: '\2705';
    color: green; 
    margin-right: 5px; 
}

.li-ko::before {
    content: '\274C';
    color: red;
    margin-right: 5px;
}

.pricing-tile:hover{
    rotate: -1deg;
    transform: scale(1.03);
    color: colors.$neutral-light;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255, 255, 255, 0.48);
    transition: all 0.15s ease-in-out;
    .li-ko{
        color: colors.$neutral-light;
    }
    button{
        color: colors.$neutral-light;
        border-color: colors.$neutral-light;
        background-color: colors.$primary;
    }
}

//////////////////////////////// SECTION: ABOUT ///////////////////////////////////

.about {
    background-color: colors.$neutral-light;
    h2 {
        color: colors.$primary;
        padding-top: 40px;
    }
    margin-bottom: -26px;

}


.info-list {
    // Flex
    display: flex;
    flex-wrap: wrap;

    // Alignment
    justify-content: center;
    
    // Sizing
    
    // Spacing
    column-gap: 30px;
    
    // Other
}

.info-tile {
    flex: 1;
    max-width: 400px;
    gap: 15px;
}


form > * {
    margin: 5px;
    width: 100%;
}

#gMap {
    @include shortcuts.flex-column;
}

//////////////////////////////// FOOTER ///////////////////////////////////
footer {
    height: 50px;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
    background-color: colors.$secondary;
    h3 {
        color: colors.$neutral-light
    }
    color: colors.$neutral-light;
    margin-top: 25px;
    margin-bottom: 0px;
}

//////////////////////////////// MEDIA QUERIES ////////////////////////////////

@media (max-width: 1100px){
	section {
        min-height: fit-content;
        row-gap: 30px;
	}

	.hero-content {
        // Flex

        // Alignment
        justify-content: space-evenly;

        // Sizing
        min-height: 90vh;
        max-height: 100svh;
        // height: fit-content;

        // Spacing
        margin-top: 55px;
        margin-bottom: 5px;
        gap: 2px; 
        padding: 3px;
        
        // Other
        h1 {
           display: none;
        }
	}
    

    .features-tile {
        row-gap: 30px;
        flex-basis: 100%;
    }
    

    .pricing-tile {
       flex-basis: 100%;
    }

    .pricing-tile:hover{
        rotate: 0deg;
        transform: scale(1);
    }
    
    .info-list {
        // Flex
        @include shortcuts.flex-column;

        // Alignment

        // Sizing
        flex-basis: 100%;
        height: fit-content;

        // Spacing
        gap: 10px;
        margin-bottom: 50px;

        // Other
    }
    
    footer {
        flex-direction: column;
        gap: 2px;
        height: fit-content;
    }

}

/////// MEDIA QUERY NAVBAR

@media (max-width: 800px){
    .fullscreen, #login-btn {
        display: none;   
    }
    
    #logo #title {
        justify-content: center;
    }

    .hamburger{
        display: block;
        margin-right: 10px;
    }

/*     #hamb {
        color: white;
        fill: white;
        display: block;
        margin-right: 10px;
         svg path {
        fill: colors.$neutral-light;
        }
    } */
}